body{
	margin: 0;
}
.header{
	width: 100%;
	height: 80px;
	background: rgb(245, 235, 220);
	display: flex;
	cursor: pointer;
	position: fixed;
}
.left-header{
	color: rgb(80, 35, 20);
	width: 40%;
	display: flex;
}
.head-item{
	margin: 8px;
	margin-top: 25px;

}
.right-header{
	width: 60%;
	display: flex;
	
}
.items-right{
	margin-left: 10px;
}
#btn1{
	width:75px;
	height: 40px;
	margin-top: 14px;
	background-color: rgb(214, 35, 0);
	border-radius: 9999rem;
	border: none;
	color: white;
}
#btn2{
	width:75px;
	height: 40px;
	margin-top: 14px;
	background-color: rgb(80, 35, 20);
	border-radius: 9999rem;
	color: white;
	border: none;
	color: white;
}
.main-sec{
	background-color: rgb(245, 235, 220);
	width: 100%;
	height: 1020px;
	padding-top: 95px;
}
.sec-1{
	display: flex;

}
.left-sec1{
	width: 40%;
	height: 440px;
	background-color: orange;
	border-radius: 30px;
	margin-left: 50px;
	margin-top: 20px;
	cursor: pointer;
}

.right-sec1{
	width: 40%;
	height: 440px;
	background-color: orange;
	border-radius: 30px;
	margin-left: 50px;
	margin-top: 20px;
	cursor: pointer;
}
.img1{
margin-left: 50px;
width: 450px;
margin-top: 20px;
height: 270px;
}
.sec-2{
	width: 100%;
	height: 450px;
	display: flex;
	}
.left-sec2{
	width: 40%;
	height: 440px;
	border-radius: 30px;
	margin-left: 50px;
	margin-top: 20px;
	background-color: darkred;
	cursor: pointer;
}
.right-sec2{
	width: 40%;
	height: 440px;
	border-radius: 30px;
	margin-left: 50px;
	margin-top: 20px;
	background-color: darkred;
	cursor: pointer;
}

.main-sec2{
width: 100%;
height: 480px;
background-image: url("background.png");
display: flex;
}
.right-part1{
	width:40%;
	color: darkred;
}
.right-part2{
	width:40%;
	color: darkred;

}
.footer{
	width: 100%;
	height: 500px;
	background-color: darkred;
}
.footer-parts{
	display: flex;
}
.footer-part1{
padding-top: 30px;
color: rgb(245, 235, 220);
}
ul{
	list-style-type: none;
}
.h-sub{
cursor: pointer;
margin: 4px;
font-size: 1.625rem;
}
.sub{
margin: 4px;
font-size:  0.9375rem;
cursor: pointer;
}
.footer-part2{
padding-top: 30px;
color: rgb(245, 235, 220);
}
.footer-part3{
padding-top: 30px;
color: rgb(245, 235, 220);
}
.footer-part4{
padding-top: 30px;
color: rgb(245, 235, 220);
}
.footer-part5{
	color: white;
}
.contact{
	margin-top: -23px;
	margin-left: 5px;
	color: white;
display: flex;
}
.terms{
	cursor: pointer;
}